nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
  button.navbar-toggler.hidden-md-up.pull-xs-right(type='button', data-toggle='collapse', data-target='#navbar') &#x2630;
  #navbar.navbar-nav.collapse.navbar-toggleable-sm
    .container
      a.navbar-brand(href='/')
        i.icn-logo.material-icons collections_bookmark
        | Recipes
      .nav-items.clearfix
        a.nav-item.nav-link(href='/about') My Family
        a.nav-item.nav-link(href='/contact') Create New Recipe
        a.nav-item.nav-link(href='/profile') My Recipes
      if(user)
        a.btn.btn-info.pull-md-right(href='/auth/logout') Log Out
      else
        a(href='/auth/login/facebook' class='btn btn-primary')
          i(class='fa fa-2x fa-facebook')
