nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
  button.navbar-toggler.hidden-md-up.pull-xs-right(type='button', data-toggle='collapse', data-target='#navbar') &#x2630;
  #navbar.navbar-nav.collapse.navbar-toggleable-sm
    .container
      a.navbar-brand(href='/')
        i.icn-logo.material-icons collections_bookmark
        | Recipes
      .nav-items
        a.nav-item.nav-link(href='/family') Family
        a.nav-item.nav-link(href='/recipes') Recipes
        a.nav-item.nav-link(href='/profile') Me
      if(user)
        a.btn.btn-info-outline.pull-md-right(href='/auth/logout') Log Out
      else
        a(href='/auth/login/facebook' class='btn btn-primary-outline')
          i(class='fa fa-2x fa-facebook')
